body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 20px;
    line-height: 1.6;}

form{
    max-width: 1000px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: transform 0.3s ease;
    border-collapse: collapse;
    text-align: center;
}

form:hover{
    transform: scale(1.05);
}
h1 {
    text-align: center;
 
    color: rgb(255, 255, 255);
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
background-color: #DDBEBD;}

.top-bar {
    background-color: #bb9695;
    color: #ffffff;
    text-align: center;
    padding: 15px;
    font-size: 1.1em;
    position: fixed;
    width: 100%;
    z-index: 1000;
  
}

.top-bar a {
    color: #ffffff;
    text-decoration: none;
}

.top-bar a:hover {
    color: #c2ac70;
}

.contact-info p {
    font-size: 14px;
}
